<h1>Selling Shops</h1>

<%= form_tag(talon_ro_selling_shops_search_path, method: :get) do %>
  <%= label_tag :item_name, 'Search for: ' %>
  <%= text_field_tag :item_name, params[:item_name], placeholder: 'Item name' %>
  <%= submit_tag 'Search' %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cards</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Shop Title</th>
      <th>Coords</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
    <tr>
      <td><%= offer.full_item_name %></td>
      <td><%= offer.cards %></td>
      <td><%= offer.price %></td>
      <td><%= offer.amount %></td>
      <td><%= offer.vendor %></td>
      <td><%= offer.shop_title %></td>
      <td><%= offer.map_location %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "â† back", root_path %>
