<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @alert.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @alert.price %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @alert.operation %>
</p>

<p>
  <strong>Offer type:</strong>
  <%= @alert.offer_type %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
