<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cards</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Shop Title</th>
      <th>Coords</th>
    </tr>
  </thead>
  <tbody>
    <% offers.each do |offer| %>
    <tr>
      <td><%= link_to offer.full_item_name, item_path(offer.item_id) %></td>
      <td><%= offer.cards %></td>
      <td><%= offer.price %></td>
      <td><%= offer.amount %></td>
      <td><%= offer.vendor %></td>
      <td><%= offer.shop_title %></td>
      <td><%= offer.map_location %></td>
    </tr>
    <% end %>
  </tbody>
</table>
