<h1 class="content-head">Items</h1>

<%= render 'shared/search_market_form', search_url: talon_ro_search_path%>

<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tracking Sellers</th>
      <th>Tracking Buyers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td class="is-center">
          <%= form_for item, namespace: item.id, html: { class: 'pure-form' } do |f| %>
            <%= f.label :track_sellers, class: 'pure-checkbox' do %>
              <%= f.check_box :track_sellers, onclick: "$(this.form).submit()" %>
            <% end %>
          <% end %>
        </td>
        <td class="is-center">
          <%= form_for item, namespace: item.id, html: { class: 'pure-form' } do |f| %>
            <%= f.label :track_buyers, class: 'pure-checkbox' do %>
              <%= f.check_box :track_buyers, onclick: "$(this.form).submit()" %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to '×', item_path(item), class: 'button-danger button-small pure-button', method: :delete, data: { confirm: 'All offers will be delete as well. Are you sure?' } %>
    <% end %>
  </tbody>
</table>
